{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<h3>{{ title }}</h3>
{% if post.venue %}
<div style="margin-bottom: 3px">
  <small>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</small>
</div>
{% endif %}
<div style="margin-bottom: 3px">
  <small>
    {% if post.excerpt %}[<a href="#/" onclick="visib('{{ post.slug }}')">Abstract</a>]{% endif %}
    {% if post.paperurl %}[<a href="{{ post.paperurl }}">Paper</a>]{% endif %}
  </small>
</div>
{% if post.excerpt %}
<div id="{{ post.slug }}" style="display: none; height: auto; width: auto; text-align: justify; line-height: 1.2"><small>
{{ post.excerpt }}
</small></div>
{% endif %}
